@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    src: local('StratosSkyeng'),
        url('./fonts/stratosskyengweb-regular.woff') format('woff');
}

@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    src: local('StratosSkyeng'),
        url('./fonts/stratosskyengweb-regular.woff2') format('woff2');
}

.app {
    width: 100%;
    height: 100vh;
    background-color: #004980;
}

.level {
    position: absolute;
    width: 480px;
    height: 459px;
    left: 272px;
    top: 158px;

    background: #C2F5FF;
    border-radius: 12px;
}